@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.default {
	font-family: Roboto, serif;
	width: 15rem;
	height: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-style: none;
	border-radius: 0.3rem;
	background: linear-gradient(to right, #00ff99 0%, #00ffff 100%);
}

#luckyBetCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.luckyBtn {
	text-transform: capitalize;
	width: auto;
}

#luckyBet {
	margin: 0.5rem auto;
	font-family: Lobster;
	font-size: 1.7rem;
	color: blue;
}
